.card-container {
    width: 90%;
    min-height: calc(100vh - 80px);
    margin-top: 80px;

    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, minmax(240px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
    justify-items: center;
    align-items: center;
     

    
}

@media only screen and (min-width:768px) {
    .card-container {
        grid-template-columns: repeat(2, minmax(240px, 1fr));
    }
}

@media only screen and (min-width:1000px) {
    .card-container {
        grid-template-columns: repeat(3, minmax(240px, 1fr));
    }
}
