.home-page{
    width:100vw;
    max-width: 100%;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


::-webkit-scrollbar {
    width: 6px;


}

::-webkit-scrollbar-track {
    background: black;
   

}


::-webkit-scrollbar-thumb {
    background: #ba68c8;
    border-radius: 10px;

    &:hover {
        background: #e1bee7;
         
    }
}