.checkout-item {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 120px;
  border-bottom: 1px solid darkgrey;
  padding: 5px 0;
  font-size: 20px;
  align-items: center;

  .image-container {
    width: 45%;
    height: 100%;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    img {
      width: 40%;
      height: 90%;
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    }

    .name {
      width: 40%;
      height: 20%;
      padding: 0 0 0 20px;
      margin: 0;
      color: white;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .price {
    width: 25%;
    color: white;
    text-align: center;
  }

  .remove-button {
    width: 30%;
    cursor: pointer;
    color: white;
    text-align: center;
  }
}

@media only screen and (max-width: 880px) {
  .checkout-item {
    height: 100px;

    .image-container {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      img {
        width: 80%;
        height: 60%;
      }

      .name{
          font-size: 0.8rem;
          width: 80%;
          text-align: left;
      }
    }

    .price{
        font-size: 1rem;
    }
  }
}
